/* *{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-business-planning-events-reminder-3d-illustration-of-monthly-calendar-alert-image_3611062.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    opacity: 0.8;
} */

.main{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-business-planning-events-reminder-3d-illustration-of-monthly-calendar-alert-image_3611062.jpg");
    background-repeat: no-repeat;
    /* background-image: linear-gradient(rgb(114, 247, 252), whitesmoke, rgba(0, 0, 255, 0.776)); */
     background-size: cover; 
    background-attachment: local;
    opacity: 0.9; 
    padding-top: 30px;

}

.container{
    text-align: center;
    /* margin-top: 30px; */
    box-shadow: 10px;
   
}

.block label{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(243, 111, 111);
    
}

.block input{
    width: 300px;
    margin-top: 8px;
    color: rgb(24, 24, 24);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid gray;
    background-color: whitesmoke;
}

.button{
    width: 90px;
    height: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(71, 9, 9);
    color: rgb(243, 111, 111);
    border-radius: 60%;
    border: 1px solid rgb(12, 12, 12);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}